{% extends "shop/base.html "%}
{% load static %}

{% block content %}
      <h2>{%if category%}{{category.name}}{%else%}Wszystkie Produkty{%endif%}</h2>
      <ul class="product_list flex_container">
        {% for product in products %}
            <li class="product">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{%if product.image%}{{ product.image.url }}{%else%} # {%endif%}">
                </a>
                <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                <br>
                {{product.price}} zl
            </li>
        {% endfor %}
      </ul>
{% endblock %}