<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>The Shop</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
  
  
<header>
  <nav class="main_width flex_container">
    <div id="logo">LOGO<!--<img>jakieś logo--></div>
     <div id="menu">
       <ul class="navigation flex_container">
         <li><a class="cool-link" href="#">Kawy</a></li>
         <li><a class="cool-link" href="#">Herbaty</a></li>
         <li><a class="cool-link" href="#">Promocje</a></li>
         <!--<li><a class="cool-link" href="#">Wyprzedaż</a></li>-->
      </ul>
    </div>
    <div class="account">
        <!--<img> będzie ikonka logowania -->
        <p>Zaloguj się</p>
    </div>
  </nav>
  <div class="coffee_photo"></div>
</header>
<section class="landing_page main_width">  
  <div class="main flex_container">
    <div class="categories">
      <h2>Kategorie</h2>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>
    </div>
    <div class="main_products flex-column">
      <h2>Produkty</h2>
      <ul class="product_list flex_container">
        <li class="product">1</li>
        <li class="product">2</li>
        <li class="product">3</li>
        <li class="product">4</li>
        <li class="product">5</li>
        <li class="product">6</li>
      </ul
    </div>
  </div>
</section>


<section></section>
<section></section>
<footer></footer>
      
  </body>
  <script src="JavaScript/JavaScript.js"></script>
</html>